* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(198, 184, 157);
}

.container {
    text-align: center;
    padding: 50px 20px;
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
    width: 240px;
    height: 310px;
    border-bottom: 1px solid rgb(184, 184, 184);
    border-right: 1px solid rgb(184, 184, 184);
    box-shadow: 3px 5px 4px 5px rgb(61, 61, 61);
}

#output {
    border: none;
    outline: none;
    color: black;
    text-align: right;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 20px;
    background: rgb(235, 235, 235);
    width: 200px;
    box-shadow: inset 3px 2px 5px 3px grey, inset -5px -5px 5px 5px rgb(255, 255, 255);
}

button {
    cursor: pointer;
    border: none;
    border-radius: 7px;
    margin-top: 15px;
    width: 45px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(224, 223, 222);
    box-shadow: 4px 3px 5px rgb(35, 35, 35), -2px -2px 4px rgb(35, 35, 35);
}

button:active{
    background: rgb(179, 179, 179);
    transform: scale(0.9);
}